#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess-row {
  margin-bottom: 10px;
}

.word-of-the-day-container {
  display: flex;
  justify-content: center;
}
